<p>Create a new patient</p>

<%= link_to "New Patient", new_receptionists_patient_path %>


<table class="table">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Date of Birth</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% if @patients.any? %>
      <% @patients.each do |patient| %>
        <tr>
          <td><%= patient.full_name %></td>
          <td><%= patient.date_of_birth %></td>
          <td><%= patient.phone %></td>
          <td><%= patient.email %></td>
          <td><%= link_to "Show", receptionists_patient_path(patient) %></td>
          <td><%= link_to "Edit", edit_receptionists_patient_path(patient) %></td>
          <td><%= button_to "Delete", receptionists_patient_path(patient), 
            method: :delete, 
            form: { data: { turbo_confirm: "Are you sure you want to delete this patient?" } } %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="7">No patients found</td>
      </tr>
    <% end %>
  </tbody>
</table>
