<h3>See All Patients</h3>

<%= link_to "See All Patients", receptionists_patients_path %>

<%= form_with model: [:receptionists, @patient] do |f| %>
<% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>
      <ul>
        <% @patient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :full_name %>
    <%= f.text_field :full_name %><br />

    <%= f.label :phone %>
    <%= f.text_field :phone %><br />

    <%= f.label :email %>
    <%= f.text_field :email %><br />

    <%= f.label :date_of_birth %>
    <%= f.date_field :date_of_birth, as: :date, max: Date.today.strftime("%Y-%m-%d") %><br />

    <%= f.label :gender %>
    <%= f.select :gender, [["Male", "male"], ["Female", "female"], ["Other", "other"]], { include_blank: 'Select gender' }  %><br />

    <%= f.label :address %>
    <%= f.text_area :address, rows: 3 %><br />

    <%= f.label :medical_issues %>
    <%= f.text_area :address, rows: 3 %><br />

    <%= f.submit %>
<% end %>